/* -------------------------------------------

fonts

------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100..900&display=swap');

$font-1: "Anton",
sans-serif;
$font-2: "Outfit",
sans-serif;

/* -------------------------------------------

colors

------------------------------------------- */

$m1: #D2D2D0;
$m2: rgba($m1,.6);
$m3: #181817;
$m4: #000000;

$a1: #CD512F;
$a2: #CD512F;

/* -------------------------------------------

transition

------------------------------------------- */

$tsm: .2s cubic-bezier(0, 0, 0.3642, 1);
$tmd: .4s cubic-bezier(0, 0, 0.3642, 1);
$tlg: .6s cubic-bezier(0, 0, 0.3642, 1);
$txl: .8s cubic-bezier(0, 0, 0.3642, 1);
