/* -------------------------------------------

Name: 		wakasso (stylish mode)
Version:    1.0
Developer:	Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - page transitions
    - settings
    - typography
    - cursor
    - scrollbar
    - breadcrumbs
    - buttons
    - social icons
    - form
    - spaces
2. hero
    - hero 1
    - hero 2
    - hero 3
    - hero 4
    - hero 5
    - hero 6
    - circle text
3. components
    - preloader
    - top panel
    - menu window
    - iconbox
    - services
    - counters
    - half container
    - team
    - tapes
    - blog
    - about
    - portfolio
    - reviews
    - partners
    - prices
    - footer

--------------------------------------------*/

@import 'variables-stylish';
@import 'common';
@import 'hero';
@import 'components';
